# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
build/
.idea/
.vscode/
*.iml

# Native (gerados via `flutter create .`)
android/
ios/
linux/
macos/
windows/
web/

# Mas TRACK estes arquivos customizados (display name, ids, etc).
# Negacao precisa vir DEPOIS do ignore.
!android/app/src/main/AndroidManifest.xml
!ios/Runner/Info.plist

# Firebase
lib/firebase_options.dart
google-services.json
GoogleService-Info.plist
